{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<th colspan="2">使用此窗体提交搜索请求：</th>
<tr><td>省份：</td><td><input name='phrase' type='TEXT' value='北京市 京 上海市 沪 天津市 津  重庆市 渝  黑龙江省 黑 吉林省 吉  辽宁省 辽  内蒙古 内蒙古  河北省 冀  新疆 新 甘肃省 甘 青海省 青  陕西省 陕 宁夏 宁  河南省 豫  山东省 鲁  山西省 晋 安徽省 皖 湖北省 鄂  湖南省 湘  江苏省 苏  四川省 川  贵州省 黔  云南省 滇 广西省 桂  西藏 藏  浙江省 浙 江西省 赣 广东省 粤 福建省 闽 台湾省 台  海南省 琼  香港 港  澳门 澳'></td></tr>
<tr><td>互联网：</td><td><input name='letters' type='TEXT' value='普及率'></td></tr>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='你造酱紫吗？' type='SUBMIT'></p>
</form>

{% endblock %}
